page-registration{
    .signup {
        background-image: url('../assets/imgs/back.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 340%;
        background-position: center;       
    }

    .signup-input {
        background: rgba(0,0,0,0.5);
        border-color: white;
        border-radius: 10px;
        margin-bottom: 10px;
        color: #fcec5f;

    }

    
    .reg-buttons{
        padding: 0;
    }
  
}

.md {
    .alertCustomCss {
    > div {
        background: #373c42;
        color: #fcec5f;
    }  

    button {
        color: #fcec5f !important;
    }  

    title {
        font-weight: bold;
    }
    
  }
}




