page-registration{
    .signup, .signup-input{
        background-color: #fcec5f;      
    }

    .labels{
        color: black;
    }
    h2{
        text-align: center;
        font-weight: 100;
    }
    
    .reg-buttons{
        padding: 15px 50px 5px;
    }
  
}

.md {
    .alertCustomCss {
    > div {
        background: #373c42;
        color: #fcec5f;
    }  

    button {
        color: #fcec5f !important;
    }  

    title {
        font-weight: bold;
    }
    
  }
}




