page-registration{
    .signup, .signup-input{
        background-color: #fcec5f;      
    }

    .labels{
        color: black;
    }
    h2{
        text-align: center;
        font-weight: 100;
    }
    
    .reg-buttons{
        padding: 15px 50px 5px;
    }
    
}

ion-label{
    color: black;
}
