page-login{
    .login-page, .login-input{
        background-color: #fcec5f;
    }
    
}

.md {
    .alertCustomCss {
    > div {
        background: #373c42;
        color: #fcec5f;
    }  

    button {
        color: #fcec5f !important;
    }

    title {
        font-weight: bold;
    }
    
  }
}