@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?j6mg76');
  src:  url('../assets/fonts/icomoon.eot?j6mg76#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?j6mg76') format('truetype'),
    url('../assets/fonts/icomoon.woff?j6mg76') format('woff'),
    url('../assets/fonts/icomoon.svg?j6mg76#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ai-about:before,
.ion-ios-icon-ai-about:before,
.ion-ios-icon-ai-about:before,
.ion-md-icon-ai-about:before,
.ion-md-icon-ai-about:before {
  content: "\e91d";
}
.icon-ai-logout:before,
.ion-ios-icon-ai-logout:before,
.ion-ios-icon-ai-logout:before,
.ion-md-icon-ai-logout:before,
.ion-md-icon-ai-logout:before {
  content: "\e91e";
}
.icon-ai-jar:before,
.ion-ios-icon-ai-jar:before,
.ion-ios-icon-ai-jar:before,
.ion-md-icon-ai-jar:before,
.ion-md-icon-ai-jar:before {
  content: "\e90e";
}
.icon-ai-bulad:before,
.ion-ios-icon-ai-bulad:before,
.ion-ios-icon-ai-bulad:before,
.ion-md-icon-ai-bulad:before,
.ion-md-icon-ai-bulad:before {
  content: "\e91b";
}
.icon-ai-canned:before,
.ion-ios-icon-ai-canned:before,
.ion-ios-icon-ai-canned:before,
.ion-md-icon-ai-canned:before,
.ion-md-icon-ai-canned:before {
  content: "\e91c";
}
.icon-ai-breakables:before,
.ion-ios-icon-ai-breakables:before,
.ion-ios-icon-ai-breakables:before,
.ion-md-icon-ai-breakables:before,
.ion-md-icon-ai-breakables:before {
  content: "\e904";
}
.icon-ai-caps:before,
.ion-ios-icon-ai-caps:before,
.ion-ios-icon-ai-caps:before,
.ion-md-icon-ai-caps:before,
.ion-md-icon-ai-caps:before {
  content: "\e905";
}
.icon-ai-children:before,
.ion-ios-icon-ai-children:before,
.ion-ios-icon-ai-children:before,
.ion-md-icon-ai-children:before,
.ion-md-icon-ai-children:before {
  content: "\e906";
}
.icon-ai-clothes:before,
.ion-ios-icon-ai-clothes:before,
.ion-ios-icon-ai-clothes:before,
.ion-md-icon-ai-clothes:before,
.ion-md-icon-ai-clothes:before {
  content: "\e907";
}
.icon-ai-devices:before,
.ion-ios-icon-ai-devices:before,
.ion-ios-icon-ai-devices:before,
.ion-md-icon-ai-devices:before,
.ion-md-icon-ai-devices:before {
  content: "\e908";
}
.icon-ai-drugs:before,
.ion-ios-icon-ai-drugs:before,
.ion-ios-icon-ai-drugs:before,
.ion-md-icon-ai-drugs:before,
.ion-md-icon-ai-drugs:before {
  content: "\e909";
}
.icon-ai-family:before,
.ion-ios-icon-ai-family:before,
.ion-ios-icon-ai-family:before,
.ion-md-icon-ai-family:before,
.ion-md-icon-ai-family:before {
  content: "\e90a";
}
.icon-ai-firearms1:before,
.ion-ios-icon-ai-firearms1:before,
.ion-ios-icon-ai-firearms1:before,
.ion-md-icon-ai-firearms1:before,
.ion-md-icon-ai-firearms1:before {
  content: "\e90b";
}
.icon-ai-firearms2:before,
.ion-ios-icon-ai-firearms2:before,
.ion-ios-icon-ai-fireamrms2:before,
.ion-md-icon-ai-firearms2:before,
.ion-md-icon-ai-firearms2:before {
  content: "\e90c";
}
.icon-ai-free:before,
.ion-ios-icon-ai-free:before,
.ion-ios-icon-ai-free:before,
.ion-md-icon-ai-free:before,
.ion-md-icon-ai-free:before {
  content: "\e90d";
}
.icon-ai-identification:before,
.ion-ios-icon-ai-identification:before,
.ion-ios-icon-ai-identification:before,
.ion-md-icon-ai-identification:before,
.ion-md-icon-ai-identification:before {
  content: "\e90f";
}
.icon-ai-jacket:before,
.ion-ios-icon-ai-jacket:before,
.ion-ios-icon-ai-jacket:before,
.ion-md-icon-ai-jacket:before,
.ion-md-icon-ai-jacket:before {
  content: "\e910";
}
.icon-ai-liquor:before,
.ion-ios-icon-ai-liquor:before,
.ion-ios-icon-ai-liquor:before,
.ion-md-icon-ai-liquor:before,
.ion-md-icon-ai-liquor:before {
  content: "\e911";
}
.icon-ai-ontime:before,
.ion-ios-icon-ai-ontime:before,
.ion-ios-icon-ai-ontime:before,
.ion-md-icon-ai-ontime:before,
.ion-md-icon-ai-ontime:before {
  content: "\e912";
}
.icon-ai-people:before,
.ion-ios-icon-ai-people:before,
.ion-ios-icon-ai-people:before,
.ion-md-icon-ai-people:before,
.ion-md-icon-ai-people:before {
  content: "\e913";
}
.icon-ai-prohibited:before,
.ion-ios-icon-ai-prohibited:before,
.ion-ios-icon-ai-prohibited:before,
.ion-md-icon-ai-prohibited:before,
.ion-md-icon-ai-prohibited:before {
  content: "\e914";
}
.icon-ai-revealing1:before,
.ion-ios-icon-ai-revealing1:before,
.ion-ios-icon-ai-revealing1:before,
.ion-md-icon-ai-revealing1:before,
.ion-md-icon-ai-revealing1:before {
  content: "\e915";
}
.icon-ai-revealing2:before,
.ion-ios-icon-ai-revealing2:before,
.ion-ios-icon-ai-revealing2:before,
.ion-md-icon-ai-revealing2:before,
.ion-md-icon-ai-revealing2:before {
  content: "\e916";
}
.icon-ai-satisfied:before,
.ion-ios-icon-ai-satisfied:before,
.ion-ios-icon-ai-satisfied:before,
.ion-md-icon-ai-satisfied:before,
.ion-md-icon-ai-satisfied:before {
  content: "\e917";
}
.icon-ai-schedule:before,
.ion-ios-icon-ai-schedule:before,
.ion-ios-icon-ai-schedule:before,
.ion-md-icon-ai-schedule:before,
.ion-md-icon-ai-schedule:before {
  content: "\e918";
}
.icon-ai-sharpweapons:before,
.ion-ios-icon-ai-sharpweapons:before,
.ion-ios-icon-ai-sharpweapons:before,
.ion-md-icon-ai-sharpweapons:before,
.ion-md-icon-ai-sharpweapons:before {
  content: "\e919";
}
.icon-ai-validid:before,
.ion-ios-icon-ai-validid:before,
.ion-ios-icon-ai-validid:before,
.ion-md-icon-ai-validid:before,
.ion-md-icon-ai-validid:before {
  content: "\e91a";
}
.icon-ai-prison-visit:before,
.ion-ios-icon-ai-prison-visit:before,
.ion-ios-icon-ai-prison-visit-outline:before,
.ion-md-icon-ai-prison-visit:before,
.ion-md-icon-ai-prison-visit-outline:before {
  content: "\e900";
}
.icon-ai-rules:before,
.ion-ios-icon-ai-rules:before,
.ion-ios-icon-ai-rules-outline:before,
.ion-md-icon-ai-rules:before,
.ion-md-icon-ai-rules-outline:before {
  content: "\e901";
}
.icon-ai-announce:before,
.ion-ios-icon-ai-announce:before,
.ion-ios-icon-ai-announce-outline:before,
.ion-md-icon-ai-announce:before,
.ion-md-icon-ai-announce-outline:before {
  content: "\e902";
}
.icon-ai-comments:before,
.ion-ios-icon-ai-comments:before,
.ion-ios-icon-ai-comments-outline:before,
.ion-md-icon-ai-comments:before,
.ion-md-icon-ai-comments-outline:before {
  content: "\e903";
}
