// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$headings-font-weight: 300;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       (
    base: #222,
    contrast: #fcec5f
  ),
  favorite:   #69BB7B,
  twitter:    #1da1f4,
  google:     #dc4a38,
  vimeo:      #23b6ea,
  facebook:   #3b5998,
  main:       #fcec5f
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// // Use the primary color as the background for the toolbar-md-background
// $toolbar-md-background:                   color($colors, primary);

// // Change the color of the segment button text
// $toolbar-md-active-color:                 #fcec5f;

// // Change the color of the tabs text
// $tab-button-md-active-color:              #fcec5f;
// $tab-button-md-inactive-color:            #fcec5f;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here



// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";



// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionicons";


// Fonts
// --------------------------------------------------
// Roboto font is used by default for Material Design. Noto sans
// is used by default for Windows.

@import "roboto";
@import "noto-sans";


// Removes validation lines, higlights on forms, etc.

$text-input-md-highlight-color-invalid: transparent;
$text-input-md-highlight-color-valid: transparent;
$text-input-md-show-invalid-highlight: transparent;
$text-input-md-highlight-color: transparent;
$text-input-md-show-valid-highlight: transparent;

$tabs-md-tab-icon-size: 30px;
$alert-md-sub-title-font-size: 20px;
$alert-md-message-font-size: 20px;
$alert-md-message-text-color: #fcec5f;
$alert-md-border-radius: 3px;

$card-ios-background-color: #fcec5f;
$card-md-background-color: #fcec5f;

$modal-md-background-color: #fcec5f;




@font-face {
  font-family: 'Saira Extra Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/saira/SairaExtraCondensed-Regular.ttf');
}

@font-face {
  font-family: 'Saira Extra Condensed';
  font-style: semi-bold;
  font-weight: 600;
  src: url('../assets/fonts/saira/SairaExtraCondensed-SemiBold.ttf');
}

@font-face {
  font-family: 'Saira Extra Condensed';
  font-style: bold;
  font-weight: 700;
  src: url('../assets/fonts/saira/SairaExtraCondensed-Bold.ttf');
}

@font-face {
  font-family: 'Saira Extra Condensed';
  font-style: extra-bold;
  font-weight: 900;
  src: url('../assets/fonts/saira/SairaExtraCondensed-ExtraBold.ttf');
}

$font-family-base: "Saira Extra Condensed", sans-serif !default;

* {
  font-family: "Saira Extra Condensed" !important;
  font-weight: 400 !important;
  }


h1, h2 {
    font-family: "Saira Extra Condensed" !important;
    font-weight: 700 !important;
}





