page-home { 
     
    h1{
        font-size: 38px;
    }
    
    .list {
        h2 {
            font-size: 22px;
        }
    }


    .getend {
        background-color:rgba(0,0,0,0);
    }

    .getstart {
        background-color: #fff;
    }
}
